[submodule "cryptonode"]
	path = modules/cryptonode
	url = https://github.com/graft-project/GraftNetwork.git
	branch = monero-14-merge
[submodule "libr3"]
	path = modules/libr3
	url = https://github.com/graft-project/r3.git
	branch = graft-master
[submodule "mongoose"]
	path = modules/mongoose
	url = https://github.com/graft-project/mongoose.git
	branch = master
[submodule "googletest"]
	path = modules/googletest
	url = https://github.com/google/googletest.git
	branch = master
