[submodule "cryptonode"]
	path = modules/cryptonode
	url = ../GraftNetwork.git
	branch = rta-alpha2-syslog
[submodule "libr3"]
	path = modules/libr3
	url = ../r3.git
	branch = graft-master
[submodule "mongoose"]
	path = modules/mongoose
	url = ../mongoose.git
	branch = master
[submodule "googletest"]
	path = modules/googletest
	url = https://github.com/google/googletest.git
	branch = master
